body{
    font-family: verdana;
}

header{
    text-align: center;
    margin: 20px;
}
footer{
    text-align: center; 
}
section.parent{
    text-align: center;
}
div.child{
    display: inline-block;

}